*.db filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/.libs/crf_learn filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/.libs/crf_test filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.lai filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/AUTHORS filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/COPYING filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/ChangeLog filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/INSTALL filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/Makefile filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.msvc filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/NEWS filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/README filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.status filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/configure filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/crf_learn filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/crf_test filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/depcomp filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/doc/html/installdox filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/doc/latex/Makefile filter=lfs diff=lfs merge=lfs -text
*.sty filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
*.lo filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/example/JapaneseNE/template filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/example/basenp/template filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/example/chunking/template filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/example/seg/template filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/install-sh filter=lfs diff=lfs merge=lfs -text
*.cxx filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/java/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/java/README filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.la filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/libtool filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/missing filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/mkinstalldirs filter=lfs diff=lfs merge=lfs -text
*.pm filter=lfs diff=lfs merge=lfs -text
*.PL filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/perl/README filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/python/README filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/ruby/README filter=lfs diff=lfs merge=lfs -text
*.rb filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/stamp-h1 filter=lfs diff=lfs merge=lfs -text
*.i filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/packages/CRF++-0.58/swig/Makefile filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/BSD filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/COPYING filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/ChangeLog filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/LGPL filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/README filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/TODO filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/cabocha-config filter=lfs diff=lfs merge=lfs -text
*.iss filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/cabocharc filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/compile filter=lfs diff=lfs merge=lfs -text
*.rpath filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/configure filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/install-sh filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/java/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/libtool filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/man/Makefile filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/missing filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/model/Makefile filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.bs filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.exists filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/perl/pm_to_blib filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/.libs/cabocha filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/.libs/cabocha-learn filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/.libs/cabocha-model-index filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/.libs/cabocha-system-eval filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/cabocha filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/cabocha-learn filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/cabocha-model-index filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/src/cabocha-system-eval filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.rule filter=lfs diff=lfs merge=lfs -text
/packages/cabocha-0.69/swig/Makefile filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/BSD filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/COPYING filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/GPL filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/INSTALL filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/Makefile filter=lfs diff=lfs merge=lfs -text
*.train filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/README filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/configure filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/doc/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/libtool filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/man/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/mecab-config filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/mecabrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/missing filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/mkinstalldirs filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/.libs/mecab filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/.libs/mecab-cost-train filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/.libs/mecab-dict-gen filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/.libs/mecab-dict-index filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/.libs/mecab-system-eval filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/.libs/mecab-test-gen filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/mecab filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/mecab-cost-train filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/mecab-dict-gen filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/mecab-dict-index filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/mecab-system-eval filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/src/mecab-test-gen filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/swig/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/Makefile filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/autolink/dicrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/autolink/test filter=lfs diff=lfs merge=lfs -text
*.gld filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/chartype/dicrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/chartype/test filter=lfs diff=lfs merge=lfs -text
*.test filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/cost-train/seed/dicrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/eval/answer filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/eval/system filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/katakana/dicrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/katakana/test filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/latin/test filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/shiin/dicrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/shiin/test filter=lfs diff=lfs merge=lfs -text
/packages/mecab-0.996/tests/t9/test filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/AUTHORS filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/COPYING filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/Makefile filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/README filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/RESULT filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/configure filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/dicrc filter=lfs diff=lfs merge=lfs -text
/packages/mecab-ipadic-2.7.0-20070801/install-sh filter=lfs diff=lfs merge=lfs -text
*.dic filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/bin/init.d/solr filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/bin/post filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/bin/solr filter=lfs diff=lfs merge=lfs -text
*.pid filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/contrib/prometheus-exporter/bin/solr-exporter filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.script filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/example/example-DIH/solr/atom/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/example/example-DIH/solr/db/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/example/example-DIH/solr/mail/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/example/example-DIH/solr/solr/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/example/example-DIH/solr/tika/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/example/files/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
*.vm filter=lfs diff=lfs merge=lfs -text
*.sha1 filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/server/solr-webapp/webapp/img/filetypes/README filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/server/solr/configsets/_default/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/server/solr/configsets/sample_techproducts_configs/conf/managed-schema filter=lfs diff=lfs merge=lfs -text
*.dii filter=lfs diff=lfs merge=lfs -text
*.dim filter=lfs diff=lfs merge=lfs -text
*.fdt filter=lfs diff=lfs merge=lfs -text
*.fdx filter=lfs diff=lfs merge=lfs -text
*.fnm filter=lfs diff=lfs merge=lfs -text
*.nvd filter=lfs diff=lfs merge=lfs -text
*.nvm filter=lfs diff=lfs merge=lfs -text
*.si filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.pos filter=lfs diff=lfs merge=lfs -text
*.tim filter=lfs diff=lfs merge=lfs -text
*.tip filter=lfs diff=lfs merge=lfs -text
*.dvd filter=lfs diff=lfs merge=lfs -text
*.dvm filter=lfs diff=lfs merge=lfs -text
/solr-7.5.0/server/solr/doc/data/index/segments_2 filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.0000000000000000000 filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
